html{
    background-color:rgb(255, 255, 255);
}

body{
    background-color:rgb(255, 255, 255);
    text-align:center;
}

.grid-container{
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: blanchedalmond;
  padding: 10px;
}

.item{
  background-color: white;
  border: 1px solid black;
  padding: 20px;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.item2{
  background-color: white;
  border: 1px solid black;
  padding: 20px;
  font-size: 30px;
  justify-content: center;
  align-content: center;
  text-align: center;
  grid-column: span 2;
}

.item3{
  background-color: white;
  border: 1px solid black;
  padding: 20px;
  align-content: center;
  text-align: center;
  grid-column: span
}

nav{
  background-color: antiquewhite;
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li{
  display:inline;
  margin-right: 20px;
}

nav a{
  color: rgb(0, 0, 0);
  text-decoration: none;
}

h1{
    color:rgb(0, 0, 0);
    font-family:'Times New Roman', Times, serif;
}