html{
    background-color:rgb(255, 255, 255);
}

body{
    background-color:rgb(255, 255, 255);
    text-align:center;
}

body, html {
  height: 100%;
}

.parallax {
  /* The image used */
  background-image: url(Images/kitten2.jpg);

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
    color:rgb(0, 0, 0);
    font-family:'Times New Roman', Times, serif;
}